.design {
    padding: 80px 0;
}

.design_title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: var(--chorniy);
    margin-bottom: 50px;
}

.design_sub {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 145%;
    color: var(--chorniy);
    margin-bottom: 20px;
    opacity: .5;
}

.design_sub_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 145%;
    color: var(--zeleniy);
    margin-bottom: 15px;
}

.design_item {
    margin-bottom: 50px;
}

@media screen and (min-width:640px) {
    .design_list {
        display: grid;
        grid-template-columns: repeat(2, 260px);
        gap: 30px;
        justify-content: center;
    }

    .design_item {
        margin-bottom: 60px;
        position: relative;
    }

    .design_item::before {
        content: "";
        border: 1px solid #C7C8C6;
        width: 0px;
        height: 438px;
        position: absolute;
        left: -15px;
    }

    .design_title {
        font-size: 36px;
        line-height: 125%;
        margin-bottom: 85px;
    }
}

@media screen and (min-width:1000px) {
    .design_list {
        grid-template-columns: repeat(3, 280px);
    }

    .design_title {
        font-size: 46px;
        line-height: 125%;
        margin-bottom: 80px;
    }

    .design_item {
        &:nth-child(3) :after {
            content: "";
            border: 1px solid #C7C8C6;
            width: 0px;
            height: 438px;
            position: absolute;
            right: -15px;
            top: 0;
        }
    }
}

@media screen and (min-width:1200px) {
    .design_title {
        font-size: 46px;
        line-height: 125%;
    }

    .design_list {
        grid-template-columns: repeat(3, 354px);
        gap: 60px;
        justify-content: center;
    }

    .design_item {
        &:nth-child(3) :after {
            height: 470px;
            right: -30px;
        }
    }

    .design_item::before {
        height: 470px;
        left: -30px;
    }
}